school image
Simple image for about us
Junior, senior students images
Merits(Image and description)
Teachers/Principals(Image, name and date)
Testimonial(Students)
School address, phone number, email address
Social media(Facebook, twitter, linkedIn, instagram page) links
 The school poster